<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasneem Sahat</title>
    <link rel="stylesheet" href="/media/styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/media/favicon.png" type="image/x-icon">

</head>
<body class="main-content ">
{% block start %}


 {% endblock %}



 <div class="controls">
    <a href="/">
    <div class="control {% if request.path == '/' %}  active-btn {%endif%}" data-id="home" >
        <i class="fas fa-home"></i>
    </div>
    </a>
    <a href="/about">
    <div class="control {% if request.path == '/about/' %}  active-btn {%endif%}" data-id="about">
        <i class="fas fa-user"></i>
    </div>
    </a>
    <a href="/portfolio">
    <div class="control {% if request.path == '/portfolio/' %}  active-btn {%endif%}" data-id="portfolio">
        <i class="fas fa-briefcase"></i>
    </div>
    </a>
    <a href="/blog">
    <div class="control {% if request.path == '/blog/' %}  active-btn {%endif%}" data-id="blogs">
        <i class="far fa-newspaper"></i>
    </div>
    </a>
    <a href="/contact">
    <div class="control {% if request.path == '/contact/' %}  active-btn {%endif%}" data-id="contact">
        <i class="fas fa-envelope-open"></i>
    </div>
    </a>
</div>
<div class="theme-btn">
    <i class="fas fa-adjust"></i>
</div>


  

<script src="/media/app.js"></script>
</body>
</html>