{% extends "base.html" %}


{% block start %}



<section class="container active" id="portfolio">
    <div class="main-title">
        <h2>My <span>Portfolio</span><span class="bg-text">My Work</span></h2>
    </div>
    <p class="port-text">
        Here is some of my work that I've done in various programming languages.
    </p>
    <div class="portfolios">
        {%for portfolio in portfolios%}
        <div class="portfolio-item">
            <div class="image">
                <img src="/media/{{portfolio.portfolio_image}}" alt="">
            </div>
            <div class="hover-items">
                <h3>{{portfolio.title}}</h3>
                <div class="icons">
                    <a href="{{portfolio.github_repo_link}}" class="icon">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>
        </div>
        {%endfor%}
        
    </div>
</section>

{% endblock %}